*.oak linguist-language=Oak linguist-detectable=true
*.ok linguist-language=Oak linguist-detectable=true
*.mag linguist-language=Oak linguist-detectable=true
*.mg linguist-language=Oak linguist-detectable=true